@using GearShop.Models.Dto
@{
    ViewData["Title"] = "Главная";
}

<style>
	.contact-image {
		height: 200px;
		width: 760px;
	}

	.main-panel {
		width: 800px;
	}

	.contact-label {
		font-weight: bold;
	}

</style>

<div class="text-start">
		<div id="galleryControl">
			<ul>
				@{
				foreach (var item in (List<SlaiderMainPageDto>)ViewData["SlaiderData"])
					{
					<li><img src="gallery/@item.FileName" alt="@item.Description" title="@item.Title" /></li>
					}
				}
			</ul>
		</div>
	<div id="mainPаnel" class="main-panel">
		<p>
			<button id="toBuyBtn" type="button">К покупкам</button>
		</p>

		Предлагаем Вам широкий выбор:<br>
		- подшипников <br>
		- ремней <br>
		- сальников <br>
		- манжеты гидравлические и пневматические<br>
		- уплотнительных колец <br>
		- стопорных колец <br>
		- электродов<br>
		- автозапчасти под заказ<br>
		- метизы под заказ<br>


		Сфера применения поставляемых подшипников довольно обширна: приборостроение, машиностроение,
		горнодобывающая промышленность, сельско-хозяйственный и автомобильный транспорт.<br>
		Найдем для вас подшипник подходящей марки и размера!
		
		<p>
			<a class="nav-link text-dark contact-label" asp-controller="Contacts" asp-action="Index">Контакты</a>
		</p>
	</div>
</div>

<script type="text/javascript">
	$('#default').puipanel();
	$('#galleryControl').puigalleria({
		panelWidth: 800,
		panelHeight: 200
	});

	$('#mainPаnel').puipanel();
	
	$('#toBuyBtn').puibutton({
		click: function(event) {
			window.location.href = '@Url.Action("Index", "ProductList")';
		}
	});
</script>
