@using GearShop.Models.Dto
@{
    ViewData["Title"] = "Home Page";
}

<style>
	.contact-image {
		height: 200px;
		width: 800px;
	}
</style>

<div class="text-start">
		<div id="galleryControl">
			<ul>
				@{
				foreach (var item in (List<SlaiderMainPageDto>)ViewData["SlaiderData"])
					{
					<li><img src="gallery/@item.FileName" alt="@item.Description" title="@item.Title" /></li>
					}
				}
			</ul>
		</div>
		<div>
			<h3 class="display-4">Магазин авто запчастей</h3>
			<p>
				Добро пожаловать в наш магазин.
				Тут вы можете найти разные товары.
			</p>
			<p>
			<h3><a class="nav-link text-dark" asp-area="" asp-controller="ProductList" asp-action="Index">К покупкам</a></h3>
			<p>
			<p>
			<img src="images/contacts.png" class="contact-image" />
			</p>
		</div>
</div>

<script type="text/javascript">
	$('#default').puipanel();
	$('#galleryControl').puigalleria({
		panelWidth: 800,
		panelHeight: 200
	});
</script>
