@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Магазин авто запчастей</h3>
    <p>Добро пожаловать в наш магазин.
	    Тут вы можете найти разные товары.
    </p>
</div>
