@model int

<h2>
	Заказ № @Model успешно создан.<br>
	В ближайшее время с вами свяжуться.<br>
	Запишите номер заказа(@Model).
</h2>
<p>
	На указанную почту должно прийти письмо.<br>
	При использовании зарубежных почтовых сервисов письмо может идти более 5минут.<br>
	Если его нет - проверьте папку «спам», и нажмите кнопку «не спам»
</p>
<p>
	Спасибо что воспользовались нашим магазином.
</p>