
<div id="titleBlock">
	<h3>Статьи на сайте</h3>
</div>


<div id="pageContent">
</div>

<div class="ui-grid ui-grid-responsive" id="articles">
</div>

<script type="text/javascript">
	$(document).ready(function () {
		InfoPageScript.init();
	});
	
const InfoPageScript = {
	  init() {
		  $.ajax({
			  url: '@Url.Action("GetAccountInfo", "Login")',
			  type: "GET",
			  success: function (response) {
				  const inAdminMode = response.isAdmin;

				  if (inAdminMode) {
						InfoPageScript._addEditorControls();
				  }

				  InfoPageScript._addPageContent(inAdminMode);
			  },
			  error: function() {
					CommonScript.showMessage('error', 'Ошибка', 'Ошибка получения данных.');
			  }
		  });
	  },

	  _addPageContent(adminMode) {
		  $.ajax({
			  url: '@Url.Action("GetArticles", "Articles")',
			  type: "POST",
			  data: { parentPageName: 'ArticlesPage'},
			  success: function(data) {
				  InfoPageScript._createContent(data, adminMode);
			  },
			  error: function() {
				  CommonScript.showMessage('error', 'Ошибка', 'Ошибка входа.');
			  }
		  });
	  },

	  _createContent(data, adminMode) {
		  const list = JSON.parse(data);

		  let text = '';
		  list.forEach((item) => {
			  text += this._fillArticleBlock(item, adminMode);
		  });

		  $('#articles').html(text);
	  },

	  _fillArticleBlock(item, adminMode) {
		  let editBtn = '';  

		  if (adminMode) {
			  editBtn = `<div>
									<button btn-type="editor-btn" type="button" onClick="InfoPageScript.editArticle(${item.id});"
									class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only button-buy">
									<i class="fa fa-fw fa-edit"></i></button>
									<button btn-type="editor-btn" type="button" onClick="InfoPageScript.deleteArticle(${item.id});"
								    class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only button-buy">
										<i class="fa fa-fw fa-remove"></i></button>
						 </div>`;
		  }

		  @*Применение отдельного шаблона, при больших объемах замедляет страницу.*@
		  return `<div class="ui-grid-row" id="article${item.id}">
				 <div class="ui-grid-col-2">
					 <figure>
						<img src="${item.titleImage}" width="100" height="100">
					 </figure>
				 </div>
				 <div class="ui-grid-col-10">
					 <header>
					<div>
						<h4>
							<a href="@Url.Action("Article", "Articles")?id=${item.id}">
								<font style="vertical-align: inherit;">
												${item.title}
								</font>
							</a>
						</h4>
					</div>
					</header>
				<div>
					<span>
							<font style="vertical-align: inherit;">${item.description}
						</font>
					</span>
				</div>
					${editBtn}
				 </div>
				</div>`;
	  },

	  _addEditorControls() {
			$('#titleBlock').before(
				'<div id="editorBlock"><button id="saveArticleBtn" class="hide-block" type="button">Сохранить</button>' +
				'<button id="addArticlesBtn" class="hide-block" type="button">Добавить</button>' +
				'<div id="editorControl"></div>' +
				'</div>');
			const saveArticleBtn = $('#saveArticleBtn');
			const addArticlesBtn = $('#addArticlesBtn');
			addArticlesBtn.show();
			saveArticleBtn.hide();

			addArticlesBtn.puibutton({
				icon: 'fa-hacker-news',
				click: function (event) {
					addArticlesBtn.hide();
					saveArticleBtn.show();

					PageEditorScript.addArticle();
				}
			});

	  saveArticleBtn.puibutton({
				icon: 'fa-save',
				click: function (event) {
					const id = $('#saveArticleBtn').attr('editingId');

					if (id === undefined) {
						PageEditorScript.saveNewArticle('ArticlesPage',
							() => {
								InfoPageScript.exitFromEditMode();
							});
					} else 
					{
						PageEditorScript.saveExistsArticle(id,
							() => {
								InfoPageScript.exitFromEditMode();
							});
					}
				}
			});
	  },

	  exitFromEditMode() {
		  $('#saveArticleBtn').hide();
		  $('#addArticlesBtn').show();
		  location.reload(true);
	  },

	  editArticle(id) {
		  const editBlock = $("#editorBlock").detach();
		  $(`#article${id}`).before(editBlock);

		  PageEditorScript.editArticle(id);

		  const saveArticleBtn = $('#saveArticleBtn');
		  $('#addArticlesBtn').hide();
		  saveArticleBtn.show();
		  
		  $('#saveArticleBtn').attr('editingId', id);
		  $(`#article${id}`).hide();
		  $('[btn-type="editor-btn"]').hide();
	  },

	  deleteArticle(id) {
			PageEditorScript.deleteArticle(id, () => {
				location.reload(true);
			});
	  },
}
</script>