@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	.searchPanel {
		padding: 0 0 10px 0;
	}
	
	.product-cell{
		height: 200px!important;   
	}

	.product-title {
		height: 80px !important;
	}

	.loader {
		text-align: center;
	}

	.in-basket {
		color: green!important;
		box-sizing: border-box;
		padding: 0 5px 0 5px;
	}
</style>

<div id="mainPanel">
	<div class="searchPanel">
		<input id="searchInput" type="text"/>
		<button id="searchButton" type="button">Поиск</button>
		<div id="messageControl"></div>
	</div>
	<div id="loaderIndicator" class="loader"><img src="/images/loader.gif" />Загрузка данных...</div>
	<div id="tbProductList"></div>
	<div id="productsPaginator"></div>
	<label id="recordCountInfo"></label>
	<div id="localgrid"></div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	@*Обновляет данные пейдженатора-количество строк и страниц.*@
	function UpdatePaginator(searchText) {
		$.ajax({
			type: "GET",
			url: '/ProductList/GetPaginateData',
			data: { searchText: searchText },
			dataType: "json",
			error: function (error) {
				console.log(error);
			},
			context: this,
			success: function (response) {
				$('#recordCountInfo').text(`Найдено ${response.totalRecords} товаров`);
				$('#productsPaginator').puipaginator({
					totalRecords: response.totalRecords,
					rows: response.rows 
				});

				$('#productsPaginator').puipaginator('setState', { totalRecords: response.totalRecords, page:0 });
			}
		});
	}

	function UpdateData(searchText) {
		$('#tbProductList').puidatagrid('reload');
		UpdatePaginator(searchText);
	}

	function GetFirstPageIndex() {
		return 1;
	}

	$('#mainPanel').puipanel();
	$('#searchInput').puiinputtext();
	$('#messageControl').puigrowl(); @*Всплывающее сообщение*@
	addMessage = function(msg) {
		$('#messageControl').puigrowl('show', msg);
	};

	let currentPage = GetFirstPageIndex();
		let searchText = '';

		$('#searchButton').puibutton({
			click: function(event) {
				searchText = $('#searchInput').val();
				UpdateData(searchText);
				currentPage = GetFirstPageIndex();
			}
		});

		$("#searchInput").on('keyup', function (e) {
		if (e.key === 'Enter' || e.keyCode === 13) {
			searchText = $('#searchInput').val();
			UpdateData(searchText);
			currentPage = GetFirstPageIndex();
		}
	});
	
	$('#productsPaginator').puipaginator({
			paginate: function(event, state) {
				currentPage = state.page + 1;
				$('#tbProductList').puidatagrid('reload');
			}
		});
		
		UpdatePaginator(searchText);

		$('#tbProductList').puidatagrid({
			header: 'Список товаров',
			datasource: function(callback) {
				$.ajax({
					type: "GET",
					url: '@Url.Action("GetProductList", "ProductList")',
					data: { currentPage: currentPage, searchText: searchText },
					dataType: "json",
					beforeSend: function() {
						$('#loaderIndicator').show();
					},
					error: function(error) {
						$('#loaderIndicator').hide();
						addMessage([{ severity: 'error', summary: 'Ошибка', detail: 'Ошибка получения данных.' }]);
					},
					context: this,
					success: function(response) {
						$('#loaderIndicator').hide();
						callback.call(this, response);
					}
				});
			},
			content: function (product) {
				return CreateProductCell(product);
			}
		});
});


function bay(productId) {
		console.log(productId);
		$('#bay' + productId).text('В корзине');
		$('#bay' + productId).addClass('in-basket');
}

@*Переделать на шаблоны.*@
	function CreateProductCell(product) {
			let html = `<div class="ui-panel ui-widget ui-widget-content ui-corner-all product-cell">
					<div class="ui-panel-titlebar ui-widget-header ui-helper-clearfix ui-corner-all product-title">
						<span class="ui-panel-title">${product.name}</span>
				</div>
				
				<div class="ui-panel-content ui-widget-content">
							<img src="/images/${product.imageName}">
							<button id="bay${product.id}" type="button" onClick="(bay(${product.id}));"
								class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only">Купить</button>
							<div class="car-detail">${product.quantity} - ${product.cost}</div>
				</div>
			</div>`;

			let button = `bay${product.id}`;
			//console.log(button);
			$('#'+button).puibutton({
				click: function(event) {
					let id = product.id;
					console.log(product.id);
				}
			});

		return html;


	return $('<div title="' +
		product.name +
			'" style="align:left";><img src="/images/Audi.gif" /><div class="car-detail">' +
		product.quantity +
		' - ' +
		product.cost +
			'</div><button>Купить</button></div>').puipanel();
}
</script>
	 