<style>
	.contact-image {
		height: 200px;
		width: 760px;
	}

	.main-panel {
		width: 800px;
	}
</style>

<div id="mainPаnel" class="main-panel">
	<p>
		<img src="images/main1.jpg" class="contact-image" />
	</p>
	<p>
		Мы находимся: <br>
		ул. Херсонская, 7В<br>
		+7 959 127 14 51 (WatsApp, Telegram) <br>
	</p>
	<p>
		График работы<br>
		Пн – Птн с 9:00 до 17:00<br>
		Суббота до 14:00<br>
	</p>
	<p>
		Авторынок<br>
		5й ряд, модуль 276, с 9:00 до 13:00 – без выходных<br>
		+7 959 252 60 20<br>
	</p>
	<p>
		Имеется доставка в разные города.<br>
	</p>
</div>

<script type="text/javascript">
	$('#default').puipanel();
	$('#galleryControl').puigalleria({
		panelWidth: 800,
		panelHeight: 200
	});

	$('#mainPаnel').puipanel();

	$('#toBuyBtn').puibutton({
		click: function (event) {
			window.location.href = '@Url.Action("Index", "ProductList")';
		}
	});
</script>